
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');
*{
    padding: 0;
  margin: 0;
  box-sizing: border-box;

}
html,
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width:80%;
    margin: auto;
}
.head_container{
    max-width:80%;
    margin: auto;
}
header{
    height: fit-content;
}
.logo img{
    width: 0%;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width:25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff ;
}
header ul{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
header ul li{
    margin-left: 6rem;
}
header ul li a{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(12, 12, 12);
    transition: 0.5s;
}
header ul li a:hover{
    color: rgb(221, 188, 139);

}
@media only screen and (max-width:768px) {
     header ul{
        display: block;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow: 0 10px 27px rgbad(0,0,0,0.5)white;
        z-index: 20;
     }

     header ul.active{
        left:0%;
     }
     headee ul li{
        margin: 2.5rem 0;
     }
     header ul li a {
        color: black;
     }
     .hamburger{
        display: block;
        cursor: pointer;
     }

     .hamburger.active.bar:nth-child(2){
        opacity: 0;
     }
     .hamburger.active.bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
     }
     .hamburger.active.bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
     }
}

/*.......home.......*/
.home .image img{

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 150%;
    height: 150%;
}
.home .text{
    max-width: 50%;
    color: #fff;
    margin: 20% 0 0 10%;
}
.home h1{
    font-size: 80px;
    font-weight: 400;
}
.home p{
    font-weight: 400;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 17px;
    margin: 50px 0 0 50px;
}
button{
    padding: 20px 40px;
    background: none;
    outline: none;
    border: 2px solid white;
    border-radius: 80px;
    color:#fff;
    margin-top: 20px;
}
.home button{
    margin-left: 50px;
}
.home .image_item{
    position: absolute;
    top: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}
.home .image_item img{
    width: 140px;
    height: 94px;
    margin:10px;
    transition: 0.5s;
}

.home .image_item img.active {

    border: 2px solid white;

}
.home .box .text{
    position: relative;
}

/*.......home.......*/
/*.......boo.......*/
.flex{
 display: flex;

}
.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px;
}
.book{
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    color: #000709;
    font-weight: 500;
}
.book.input{
    background: rgb(83, 182, 236);
    padding: 20px 20px 40px 20px;
}

.book .search{
    background: none;
    padding: 20px;
}
input{
    width: 100;
    padding: 15px;
    border: 2px solid rgba(68, 66, 66, 0.9);
    border-radius: 80px;
    outline: none;
    background: #e5b9d6;
    margin-top: 20px;
    color: #fff;
}
::placeholder{
    color: #fff;
}
.book.search{
    width: 20%;
}
.book .search input{
    background: plum;
    border-radius: 80px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 60px;
}
/*.......boo.......*/

/*.......bo12o.......*/
.top{
    margin-top: 10%;
}
.mtop{
    margin-top: 5%;

}
.left, .right{
    width: 50%;
}
.about{
    margin-bottom: 50px;
    margin-top: 50px;
}
.about .img{
    margin-top: 200px;
    position:relative;
}
.about .image1{
    width: 310px;
    height: 450px;

}
.about .image2{
    width: 250px;
    height: 300px;
    position: absolute;
    bottom: 5px;
    z-index: 2;
    right: 30%;
}
.heading{
    position: relative;
}
.heading::after{
    position: absolute;
    top:0;
    left: 0;
    content: '';
    width: 100px;
    height: 4px;
    background: rgb(114, 223, 245);
}
.heading h5{
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 20px;
    color: #de90ee;

}
.heading h2{
    font-size: 30px;
    font-weight: 400;
    margin:20px 0 40px 0 ;
    color: #050505;

}
.heading p{
    margin-bottom: 20px;
    line-height: 25px;
    color: #050505;
    margin: 0 0 20px 50px;
}
.heading .btn1{
    margin: 50px 0 20px 50px;
}
.btn1{
    background: rgb(120, 220, 245);
}

/*.......bo12o.......*/
/*.......wrapp.......*/
.wrapper{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}
.wrapper .text{
    background: #ecb5f7;
    font-weight:400 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
    width:50%;
    height: 670px;
    position: absolute;
    top: -13%;
    right: 10%;
    padding-top:10%;
    color: #090404;
}
.wrapper .content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}
.wrapper h2{
    font-weight: 550;
    margin: 20px 0 50px 0;
    margin-top: -50px;
    line-height: 30px;
}
.wrapper i{
    margin: 5px 20px 0 0;
}
/*.......wrapp.......*/
/*.......roomp.......*/
.heading{
    margin-top: 175px;
}
.button{
    margin-top: 175px;
}
.flex1 {
    display: flex;
    justify-content: space-between;
}
.room .grid{
    grid-template-columns: repeat(3, 1fr);
}

.room img{
    width: 100%;
    height: 100%;
}
.room .box{
    box-shadow: 0 13px 43px 0 rgb(37 46 89/100);
}
.room .text{
    padding: 20px;
}
.room h3{
    font-weight: 400;
    margin-bottom: 10px;
}
.room p span{
    font-size: 12px;
    color: rgb(0, 3, 2);
}
.room p{
    font-size: 20px;
}


/*.......roomp.......*/
/*.......wrapper 2.......*/
.wrapper2{
    background-image: url("../frontend1/beach.jpg");
}
.wrapper2 .text{
    left: 10%;
    
}
.wrapper2 h5,
.wrapper2 h2{
    color: #121111;
}
.wrapper2 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right:20px;
    margin-top: 50px;
}
.wrapper2 .para h5{
    font-size: 13px;
    font-weight: 400;
    margin-top:5px ;
}
.wrapper2 .para{
    margin-left: 10%;
}
/*applied to all my own*/
.wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heading2 {
    margin-top: 25px;
    font-weight: 300;
}
.name{
    margin-top: 50px;
    font-weight: 600;
}
.heading2 h5{
    font-weight: 400;
}
.heading2 h2{
    font-weight: 550;
}
/*.......wrap2......*
/*.......resto......*/
.restaurant img{
    width: 200px;
    height:200px;
}
.restaurant .right{
    padding: 50px 50px 50px 100px;
}
.restaurant h2{
    margin-bottom: 20px;
    font-weight: 300;
}
 .text h2{
    font-weight: 500;
}
.restaurant .text p{
    margin-bottom: 50px;
    line-height: 25px;
}
.accordionItem{
    margin-top:30px ;
}
.accordionItem p{
    font-size: 15px;
    opacity: 0.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;

}
.accordionIheading{
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    font-weight: 400;
    font-size: 17px;
    color: #57c7f0;
    margin-bottom: 20px;
}
.close .accordionItemContent{
    height: 0px;
    transition: height 1s ease-out;
    transform: scaleY(0);
    float:left;
    display:black;
    background-color: #fff;
}
.open .accordionItemContent{
    padding: 30px;
    background-color: #fff;
    width: 100%;
    margin: 0 0 10px 0;
    display: block;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}
/*.......resto......*/
/*.......lobby......*/
.heading3 h5{
    color: #57c7f0;
    font-weight: 200;

}

.button2{
    margin-bottom: 10px;
}
.heading3 h2{
    font-weight: 500;
}
.heading3 h5{
    font-weight: 500;
}
/*.......map......*/
.map iframe{
    width: 100%;
    
}
.button3{
    margin-left: 630px;
}

/*.........footer.....*/
footer h3{
    margin-bottom: 20px;
}

footer li:hover{
    color: #57c7f0;
    cursor: pointer;
}
footer{
    background:linear-gradient(white,rgb(99, 218, 251));
}
footer  img{
    width: 60px;
    height: 50px;
}
  
@media only screen and (max-width:768px) {
    .home .box .text{
        max-width: 100%;
    }
    .home .box .text::after,
    .home .image_item{
        display: none;
    }
    .restaurant .container,
    .about .container,
    .book.container{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
    .book{
        margin-top: 10%;
        height: auto;
    }
    .book.search{
        width: 100%;
    }
    .book.search input{
        margin-top: 0;
    }
    .left .right{
        width: 100%;
    }
    .wrapper .text{
        width:80%
    }
    .room{
        margin-bottom: 100px;
    }
    .room .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .restaurant .right{
        padding: 0;
       margin-top: 50px;
    }
    footer .payment{
        grid-template-columns: repeat(4,1fr);
    }
}